<h1 class="title">freeCodeCamp React Lessons</h1>

<%= link_to 'Components',    pages_components_path %>
<%= link_to 'Props',         pages_props_path %>
<%= link_to 'States',        pages_states_path %>
<%= link_to 'Life_Cycle',    pages_life_cycle_path %>
<%= link_to 'Inline_Styles', pages_inline_styles_path %>
<%= link_to 'Advanced',      pages_advanced_path %>
